body {
  font-family: sans-serif;
  line-height: 1.3;
}

.title1 {
  background-color: lightgray;
  text-transform: uppercase;
  text-align: center;
}
html {
  border: 5px solid;
}

.shipping {
  color: #777;
  text-transform: uppercase;
}

/* Product Details */

li {
  list-style: square;
}

.moreinfo:link,
.moreinfo:visited {
  color: black;
}
.moreinfo:hover,
.moreinfo:active {
  text-decoration: none;
}

/* BUTTON */

button {
  color: white;
  background-color: black;
  font-size: 18px;
  text-transform: uppercase;
}
button:hover {
  color: black;
  background-color: white;
  font-size: 18px;
  text-transform: uppercase;
}
